{% if page.author %}
    {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="w3-card-2">
    <div class="author-content">
    <hr>
        <header class="w3-container w3-light-grey">
        <div itemprop="author" class="name-author"><strong>{{ author.navn }}</strong></div>
        </header>
        <div class="w3-container">
        <img itemprop="image" class="image-author" src="{{ author.bilde }}">
        <div class="about-author">
            <p style="font-style: italic;">{{ author.posisjon }},<a href="{{ author.arbeidsgivers-nettside }}" target="_blank">{{ author.arbeidsgiver}}</a></p>
            {{ author.arbeidsoppgaver }}
        </div>
        <div class="social-author">
            {% if author.facebook %}
            <a href="https://facebook.com/{{ author.facebook }}" ><i class="fa fa-facebook-square fa"></i></a>
            {% endif %}

            {% if author.twitter %}
            <a href="https://www.twitter.com/{{ author.twitter }}" ><i class="fa fa-twitter-square fa"></i></a>
            {% endif %}

            {% if author.github %}
            <a href="https://github.com/{{ author.github }}" ><i class="fa fa-github-square fa"></i></a>
            {% endif %}

            {% if author.epost %}
            <a href="mailto:{{ author.epost }}" ><i class="fa fa-envelope-square fa"></i></a>
            {% endif %}
        </div>
        </div>
    </div>
</div>