{% assign author = site.data.authors[page.author] %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="w3-card-2">
    <div id="author-content">
    <hr>
        <div itemprop="author" id="name-author"><strong>{{ author.navn }}</strong></div>
        <img itemprop="image" id="image-author" src="{{ author.bilde }}">
        <div id="about-author">{{ author.arbeidsoppgaver }}</div>
        <div id="social-author">
            <a href="{{ author.facebook }}" ><i class="fa fa-facebook-square fa"></i></a>
            <a href="{{ author.twitter }}" ><i class="fa fa-twitter-square fa"></i></a>
            <a href="{{ author.github }}" ><i class="fa fa-github-square fa"></i></a>
            <a href="{{ author.email }}" ><i class="fa fa-envelope-square fa"></i></a>
        </div>
    </div>
</div>